.form-group{
         background-color: blanchedalmond;
         font-size: 1.4em;  
        }
#messagesList{
            padding:10px;
            margin-left: 20px;
            color: black;
            list-style: square;
            border:2px darkblue; 
           }