@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h1> Bag</h1>

    <p>@Model.Username</p>
    <p>The current time is @DateTime.Now</p>
    
</div>
